.cart {
    width: 264px;
    /* height: 944px; */
    padding: 25px;
    flex-shrink: 0;
    background-color: rgba(255, 153, 0, 0.30);
    position: sticky;
    top: 50px;
}

.cart p {
    font-size: 17px;
}

.cart h6 {
    color: #0E161A;
    /* H6 */
    font-family: Lato;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
}

.deleteAll {
    border-radius: 4px;
    background: #FF3030;
    width: 260px;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    color: white;
}
.delete_icon{
    width: 24px;
    height: 24px;
}